
body {
    font-family: Arial, sans-serif;
    background: #9393ee;
}

.quiz-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.quiz-box {
    background: white;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
}

#question {
    margin-bottom: 20px;
}

#options label {
    display: block;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    cursor: pointer;
}

#options input {
    margin-right: 8px;
}

#nextBtn {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #4a63ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#nextBtn:hover {
    background: #3447d6;
}